.productImage {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 141px;
  height: auto;
  max-width: 100%;
}
.productImage > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.productImage > :global(.__wab_flex-container) > *,
.productImage > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.productImage > :global(.__wab_flex-container) > picture > img,
.productImage
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.productImageisSelected {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  box-shadow: none;
  background: var(--token-IANicBa3U);
  border-radius: 5px;
  padding: 9px 4px 4px;
}
.productImageisSelected > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.productImageisSelected > :global(.__wab_flex-container) > *,
.productImageisSelected
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.productImageisSelected > :global(.__wab_flex-container) > picture > img,
.productImageisSelected
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.img__c25NJ {
  object-fit: cover;
  max-width: 100%;
  width: 80px;
  height: 80px;
  box-shadow: 0px 4px 16px 0px #00000033;
  flex-shrink: 0;
  border-radius: 5px;
}
.img__c25NJ > picture > img {
  object-fit: cover;
}
.img__c25NJ > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__quQrl {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 167px;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + 2px) !important;
  background: var(--token-IANicBa3U);
  box-shadow: 0px 4px 16px 0px #00000033;
  flex-shrink: 0;
  display: none;
  border-radius: 5px;
  padding: 0px;
}
.freeBoxisSelected__quQrLm5Aw7 {
  margin-top: calc(0px + 2px) !important;
  display: flex;
}
.startCount2 {
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-cF-bJTiHf);
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.line {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 5px;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__ehc6G {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ehc6G > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 9px);
  width: calc(100% + 9px);
}
.freeBox__ehc6G > :global(.__wab_flex-container) > *,
.freeBox__ehc6G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ehc6G > :global(.__wab_flex-container) > picture > img,
.freeBox__ehc6G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 9px;
}
.freeBox__xskTy {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__xskTy > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__xskTy > :global(.__wab_flex-container) > *,
.freeBox__xskTy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xskTy > :global(.__wab_flex-container) > picture > img,
.freeBox__xskTy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.freeBoxisSelected__xskTYm5Aw7 {
  display: flex;
}
.svg___0KPRl {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-qDsnTM3Jt);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.lowStockLabel {
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-qDsnTM3Jt);
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.freeBox__wPfH {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.currentCount2 {
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-qDsnTM3Jt);
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.svg__eltbP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #f0f1f3;
  width: 15px;
  height: 10px;
  flex-shrink: 0;
}
.startCount {
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-cF-bJTiHf);
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.line2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 5px;
  min-width: 0;
  flex-shrink: 0;
}
.createPo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 20px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.svg__qSWbr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__zvbCb {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--token-YuPSKNI3l);
}
.svg__w0Qs6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: var(--token-YuPSKNI3l);
}
.addToPo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 20px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.svg___2TFvF {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__nSyam {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--token-YuPSKNI3l);
}
.svg__yTm84 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: var(--token-YuPSKNI3l);
}
