.productImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  position: relative;
}
.freeBox__zpiVn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  border-radius: 10px;
  padding: 9px 13px 13px;
}
.freeBox__r1NAq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__ifs6 {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 5px;
}
.img__ifs6 > picture > img {
  object-fit: cover;
}
.img__ifs6 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__riGz {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px;
}
.text__fumWi {
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  text-align: center;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: var(--token-E2FXZqqLC);
  display: block;
}
.text__ldNj4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  text-align: center;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: var(--token-E2FXZqqLC);
  padding-left: 8px;
  min-width: 0;
  display: block;
}
.freeBox__olPiI {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px;
}
.freeBox__olPiI > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__olPiI > :global(.__wab_flex-container) > *,
.freeBox__olPiI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__olPiI > :global(.__wab_flex-container) > picture > img,
.freeBox__olPiI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__yaoF7 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  padding: 0px;
}
.freeBox__yaoF7 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__yaoF7 > :global(.__wab_flex-container) > *,
.freeBox__yaoF7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yaoF7 > :global(.__wab_flex-container) > picture > img,
.freeBox__yaoF7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__n90A3 {
  object-fit: cover;
  color: var(--token-qDsnTM3Jt);
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  display: block;
}
.text__sLcb {
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  text-align: left;
  font-size: 12px;
  line-height: 12px;
  color: var(--token-qDsnTM3Jt);
  align-self: flex-end;
  opacity: 0.75;
  display: block;
}
.freeBox___7D3C {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___7D3C > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  margin-left: calc(0px - 3px);
  width: calc(100% + 3px);
}
.freeBox___7D3C > :global(.__wab_flex-container) > *,
.freeBox___7D3C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7D3C > :global(.__wab_flex-container) > picture > img,
.freeBox___7D3C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 3px;
}
.text__z5KTh {
  width: auto;
  height: auto;
  max-width: none;
  text-align: right;
  color: var(--token-qDsnTM3Jt);
  font-size: 12px;
  align-self: flex-end;
  line-height: 12px;
  display: block;
}
.text__x3Kjh {
  width: auto;
  height: auto;
  max-width: none;
  text-align: right;
  color: var(--token-E2FXZqqLC);
  font-size: 12px;
  line-height: 12px;
  display: block;
}
.text__zuxAy {
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  text-align: left;
  color: var(--token-qDsnTM3Jt);
  font-size: 12px;
  line-height: 12px;
  display: block;
}
.text__urxpc {
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  text-align: left;
  color: var(--token-E2FXZqqLC);
  font-size: 12px;
  line-height: 12px;
  display: block;
}
.svg___3LuCv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  height: 1em;
  flex-shrink: 0;
  display: none;
}
.freeBox__ol1Ko {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.button__dss3T:global(.__wab_instance) {
  max-width: 100%;
  height: 25px;
}
.svg__fxAoc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__bN7V {
  color: var(--token-MVJqjvLUa);
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.svg__gWowt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button___3Axqt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 25px;
}
.svg__zfIm3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__nHxRr {
  color: var(--token-MVJqjvLUa);
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.svg__sgwJw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
