.container {
  flex-direction: row;
  display: inline-flex;
  width: auto;
  height: 68px;
  max-width: 100%;
  background: var(--token-O5NCBlXkQ);
  position: relative;
  box-shadow: 0px 3px 5px 0px #00000026;
  min-width: 183px;
  max-height: 68px;
  border-radius: 5px;
  padding: 8px;
}
.container > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container > :global(.__wab_flex-container) > picture > img,
.container
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__toJwj {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__toJwj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.freeBox__toJwj > :global(.__wab_flex-container) > *,
.freeBox__toJwj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__toJwj > :global(.__wab_flex-container) > picture > img,
.freeBox__toJwj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 1px;
}
.freeBox__v5Xc {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 5px;
}
.freeBox__v5Xc > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.freeBox__v5Xc > :global(.__wab_flex-container) > *,
.freeBox__v5Xc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v5Xc > :global(.__wab_flex-container) > picture > img,
.freeBox__v5Xc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.avatar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  border-radius: 50px;
  padding: 2px 0px 0px;
}
.img {
  object-fit: cover;
  max-width: 24px;
  position: relative;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  max-height: 24px;
  flex-shrink: 0;
  display: inline-block !important;
  border-radius: 50px;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__kAvwv {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.customerName2 {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-qjU-qfmo9);
}
.freeBox__t1TOn {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__t1TOn > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__t1TOn > :global(.__wab_flex-container) > *,
.freeBox__t1TOn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t1TOn > :global(.__wab_flex-container) > picture > img,
.freeBox__t1TOn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.freeBox___8VKc1 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-utV2n2k1f);
  align-self: center;
  border-radius: 50px;
  padding: 1px 5px;
}
.freeBox___8VKc1 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 3px);
  width: calc(100% + 3px);
}
.freeBox___8VKc1 > :global(.__wab_flex-container) > *,
.freeBox___8VKc1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8VKc1 > :global(.__wab_flex-container) > picture > img,
.freeBox___8VKc1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 3px;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.text {
  width: auto;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  align-self: center;
  height: 100%;
  min-height: 0;
}
.freeBox___3ZfH {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: #c6e2ff;
  border-radius: 50px;
  padding: 2px 8px 2px 5px;
}
.freeBox___3ZfH > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 3px);
  width: calc(100% + 3px);
}
.freeBox___3ZfH > :global(.__wab_flex-container) > *,
.freeBox___3ZfH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3ZfH > :global(.__wab_flex-container) > picture > img,
.freeBox___3ZfH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 3px;
}
.dottedCircleIcon {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.totalPayment3 {
  width: auto;
  height: 12px;
  font-size: 12px;
  line-height: 12px;
  font-family: "Open Sans", sans-serif;
}
