.ordersListPage {
  display: block;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-utV2n2k1f);
  min-width: 0;
  min-height: 0;
}
.layout {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.sidePanel:global(.__wab_instance) {
  position: relative;
  width: 222px;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sidePanel:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.topBar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.svg__vLjYm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 40px;
  height: 38.4px;
  display: block;
}
.exportButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 28px;
}
.svg__ua5Pe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-LJZ1V6cwa);
}
.text__tNdjs {
  color: var(--token-LJZ1V6cwa);
}
.svg__nmBcO {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.importButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 28px;
}
.svg__sq4ED {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-LJZ1V6cwa);
}
.text___4BsgS {
  color: var(--token-LJZ1V6cwa);
}
.svg__yTob7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__q2Cqo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 40px;
  display: flex;
}
.svg__fYrt0 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__hdKmh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox___2Y2CX {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 1218px;
  height: 276px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  padding: 8px 16px;
}
.freeBox___2Y2CX > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___2Y2CX > :global(.__wab_flex-container) > *,
.freeBox___2Y2CX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Y2CX > :global(.__wab_flex-container) > picture > img,
.freeBox___2Y2CX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.statsCard___9DuUh:global(.__wab_instance) {
  max-width: 250px;
  position: relative;
}
.statsCard2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  min-height: 0;
}
.statsCard__zcjEc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.statsCard__gNgSo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__sbhY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 0px;
}
.columnHeader {
  flex-direction: row;
  width: 100%;
  height: auto;
  display: flex;
  min-width: 0;
}
.columnHeader > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.columnHeader > :global(.__wab_flex-container) > *,
.columnHeader > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columnHeader > :global(.__wab_flex-container) > picture > img,
.columnHeader
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.cell37 {
  flex-direction: row;
  background: rgba(200, 231, 231, 1);
  width: 58px;
  height: 51px;
  display: flex;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
  border-radius: 5px;
}
.cell37 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.cell37 > :global(.__wab_flex-container) > *,
.cell37 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cell37 > :global(.__wab_flex-container) > picture > img,
.cell37
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.compCheckboxUnselected19 {
  width: 100%;
  height: 17px;
  display: block;
  position: relative;
  min-width: 0;
}
.checkbox37 {
  box-shadow: 0px 1px 0px 0px rgba(21, 28, 36, 0.05),
    inset 0px 0px 0px 1px rgba(0, 49, 50, 1);
  background: rgba(0, 49, 50, 1);
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 3px;
}
.checkbox38 {
  box-shadow: 0px 1px 0px 0px rgba(21, 28, 36, 0.05),
    inset 0px 0px 0px 1px rgba(195, 204, 212, 1);
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(248, 249, 250, 1) 99%
    )
    0% 0% / 100% 100% no-repeat;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 3px;
}
.svg__qLhrr {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #eceef1;
  width: 11px;
  height: 8px;
  display: block;
  top: 4px;
  left: 4px;
}
.cell38 {
  flex-direction: row;
  background: rgba(200, 231, 231, 1);
  width: 100%;
  height: 51px;
  display: flex;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 0;
  border-radius: 5px;
}
.cell38 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.cell38 > :global(.__wab_flex-container) > *,
.cell38 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cell38 > :global(.__wab_flex-container) > picture > img,
.cell38
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.columnName1 {
  display: block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 100%;
  color: rgba(0, 49, 50, 1);
  position: relative;
  width: 100%;
  min-width: 0;
}
.cell39 {
  flex-direction: row;
  background: rgba(200, 231, 231, 1);
  width: 100%;
  height: 51px;
  display: flex;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 0;
  border-radius: 5px;
}
.cell39 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.cell39 > :global(.__wab_flex-container) > *,
.cell39 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cell39 > :global(.__wab_flex-container) > picture > img,
.cell39
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.columnName2 {
  display: block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 100%;
  color: rgba(0, 49, 50, 1);
  position: relative;
  width: auto;
}
.cell40 {
  flex-direction: row;
  background: rgba(200, 231, 231, 1);
  width: auto;
  height: 51px;
  display: flex;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}
.cell40 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.cell40 > :global(.__wab_flex-container) > *,
.cell40 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cell40 > :global(.__wab_flex-container) > picture > img,
.cell40
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.columnName3 {
  display: block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 100%;
  color: rgba(0, 49, 50, 1);
  position: relative;
  width: 100%;
  min-width: 0;
}
.cell41 {
  flex-direction: row;
  background: rgba(200, 231, 231, 1);
  width: auto;
  height: 51px;
  display: flex;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}
.cell41 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.cell41 > :global(.__wab_flex-container) > *,
.cell41 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cell41 > :global(.__wab_flex-container) > picture > img,
.cell41
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.columnName4 {
  display: block;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 100%;
  color: rgba(0, 49, 50, 1);
  position: relative;
  width: auto;
}
.cell42 {
  flex-direction: row;
  background: rgba(200, 231, 231, 1);
  width: 100%;
  height: 51px;
  display: flex;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 0;
  border-radius: 5px;
}
.cell42 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.cell42 > :global(.__wab_flex-container) > *,
.cell42 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cell42 > :global(.__wab_flex-container) > picture > img,
.cell42
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.columnName5 {
  display: block;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 100%;
  color: rgba(0, 49, 50, 1);
  position: relative;
  width: auto;
}
.cell43 {
  flex-direction: row;
  background: rgba(200, 231, 231, 1);
  width: auto;
  height: 51px;
  display: flex;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}
.cell43 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.cell43 > :global(.__wab_flex-container) > *,
.cell43 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cell43 > :global(.__wab_flex-container) > picture > img,
.cell43
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.columnName6 {
  display: block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 100%;
  color: rgba(0, 49, 50, 1);
  position: relative;
  width: 100%;
  min-width: 0;
}
.cell44 {
  flex-direction: row;
  background: rgba(200, 231, 231, 1);
  width: auto;
  height: 51px;
  display: flex;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}
.cell44 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.cell44 > :global(.__wab_flex-container) > *,
.cell44 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cell44 > :global(.__wab_flex-container) > picture > img,
.cell44
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.columnName7 {
  display: block;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 100%;
  color: rgba(0, 49, 50, 1);
  position: relative;
  width: 100%;
  min-width: 0;
}
.cell45 {
  flex-direction: row;
  background: rgba(200, 231, 231, 1);
  opacity: 0.4;
  width: 134px;
  height: 51px;
  display: flex;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
  border-radius: 5px;
}
.cell45 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.cell45 > :global(.__wab_flex-container) > *,
.cell45 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cell45 > :global(.__wab_flex-container) > picture > img,
.cell45
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__ecRr0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #009093;
  width: 24px;
  height: 24px;
  display: block;
  flex-shrink: 0;
}
.columnName8 {
  display: block;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 100%;
  color: rgba(0, 49, 50, 1);
  position: relative;
}
.freeBox___1NWP {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.cell {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  flex-direction: row;
  background: var(--token-O5NCBlXkQ);
  border-radius: 5px;
  padding: 8px 10px;
}
.orderId2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Open Sans", sans-serif;
  color: var(--token-IANicBa3U);
  min-width: 0;
}
